.bord {
    width: 430%;
    height: 38px;
    border-radius: 10px;
  }

  .btn {
    margin-top: 20px;
    margin-left: 55.3%;
    height: 40px;
    width: 30%;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(249, 202, 15);
    font-weight: 700;
    font-size: 17px;
    
  }
  /* :hover{
    cursor: pointer;
  } */
  textarea {
    resize: none;
  }